@import '../../../../../styles/variables.scss';
@import '../../../../../styles/fonts.scss';

.leaflet-popup-content-wrapper {
    font-family: "Signika Negative", sans-serif;
    font-weight: 500;
    padding: 0;
    background-color: $main-color !important;
    color: $white !important; 
    overflow: hidden !important;
}

.leaflet-popup-tip {
    background: $main-color !important;
}

.leaflet-container a.leaflet-popup-close-button{
    color: $white !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
}

.btn-join {
    background-color: $secondary-color;
    padding: 5px 20px;
    color: $white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;

    &__block-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__block-left {
        margin-right: 15px;
    }

    &-activity {
        font-size: 20px;
        font-weight: bold;
    }

    &-progress {
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
        display: block;
    }

    &-time {
        margin-top: 10px;
        text-align: center;
    }

    &-people {
        margin-top: 10px;
    }
}


.spinner-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

@media(max-width:590px) {
    .info-time {
        margin-top: 0;
    }

    .info-progress {
        margin-top: 5px;
    }
}

@media(max-width:450px) {
    .marker-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 260px;
    }

    .info {
        flex-direction: column;

        &__block-right {
            margin-top: 5px;
        }
    }
}