.info-status{
    margin-top: 10px;
    display: flex;
    align-items: center;

    &-img{
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
}

.info-message {
    font-size: 14px;
}

.btn-join{
     display: block;
     margin-right: auto;
     margin-left: auto; 
}