.chatPage {
    background-color: rgb(6, 16, 49);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    position: absolute;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 85%;
        right: 0;
        height: 100%;
        display: flex;
        // overflow: hidden;
        transition: width 0.5s ease;

        .container.wide {
            width: 95%;
        }


        .chatsidebar {
            flex: 1;
            background-color: #17212B;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #17212B;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #F5F5F5;
            }

            .logo {
                font-weight: bold;
                color: #F5F5F5; 
            }

            .user {
                display: flex;
                gap: 10px;

                img {
                    background-color: #0E1621;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .chatsearch {
                padding: 5px 0;

                .searchForm {
                    padding: 0 10px;

                    input {
                        background-color: transparent;
                        color: #F5F5F5;
                        outline: none;
                        background-color: #242F3D;
                        width: 98%;
                        height: 35px;
                        border-radius: 20px;
                        padding-left: 10px;

                        &::placeholder{
                            color: #6D7478; 
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                gap: 10px;
                color: #F5F5F5;
                cursor: pointer;

                &:hover {
                    background-color: #212B35;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        margin-top: 7px;
                        font-size: 12px;
                        color: #7F91A4
                    }
                }
            }
        }

        .chat-chat {
            flex: 2;
            background-color: #0E1621;

            .chatInfo {
                display: flex;
                height: 50px;
                background-color: #17212B;
                align-items: center;
                padding: 7px;
                color: #F5F5F5;
                border-left: 1px solid #090c10;
            }

            .messages {
                background-color: #0E1621;
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: grey;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 12px;

                        p {
                            background-color: #182533;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            color: #F5F5F5;
                        }

                        img {
                            width: 50%;
                        }

                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #2B5278;
                                color: #F5F5F5;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }
                    }

                    &-date{
                        font-size: 12px;
                        color: #F5F5F5;
                        text-align: center;
                    }
                }

                &::-webkit-scrollbar {
                    width: 7px; 
                }
                
                &::-webkit-scrollbar-track {
                    background: rgba(255, 255, 255, 0.5);
                }
                
                &::-webkit-scrollbar-thumb {
                    background: rgba(255, 255, 255, 0.1);
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    background: rgba(255, 255, 255, 0.5); 
                }
            }

            .input {
                background-color: #17212B;
                height: 55px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #F5F5F5;
                border-left: 1px solid #090c10;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #F5F5F5;

                    &::placeholder {
                        color: #495A67;
                    }
                }

                .send-btn {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
            }


        }
    }
}

.chat-choose{
    color: #F5F5F5; 
    position: absolute;
    left: 73%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 24;
    background-color: #1E2C3A; 
    border-radius: 20px; 
    padding: 10px;
}