@import '../../../styles/variables.scss'; 

.request{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;

    &-img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &-text{
        margin-bottom: 10px;
        display: flex;
        align-items: center; 
    }

    &-time{
        font-size: 12px;
        color: $gray; 
        margin-top: 10px;
    }
}

.profile-photo{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 100%;
    object-fit: cover;
}

.btn-accept, .btn-decline{
    padding: 5px 20px;
    color: $white;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-accept {
    background-color: $green-btn;

    &:hover{
        background-color: $green-btn-hover;
    }
}

.btn-decline {
    background-color: $red-btn; 

    &:hover{
        background-color: $red-btn-hover;
    }
}

@media(max-width:590px) {
    .request{
        font-size: 12px;

        &-img {
            width: 50px;
            height: 50px;
        }

        .btn-accept, .btn-decline{
            padding: 5px 15px;
            font-size: 12px;
        }

        &-time{
            font-size: 10px;
        }
    }

    .profile-photo{
        width: 20px;
        height: 20px;
    }
}