$main-color : rgb(27, 26, 26); 
$secondary-color: rgb(247, 149, 58); 
$white: rgb(240, 240, 240); 
$orange-hover : rgb(219, 128, 43); 
$red : rgb(185, 32, 32); 
$red-btn : rgb(219 93 93);
$red-btn-hover :  rgb(193, 84, 84);
$green-btn : rgb(99 198 99); 
$green-btn-hover : rgb(91, 180, 91); 
$gray : gray; 
$gray-hover : rgb(99, 99, 99); 