@import '../../styles/variables.scss'; 

  .userphoto {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    flex: 1; /* Der Bereich zwischen Sidebar und Bild nimmt den verfügbaren Raum ein */
  }
  
  .centered-image-container {
    text-align: center; /* Zentriere den Inhalt horizontal */
  }

  .userphoto label{
    cursor: pointer;
  }
  
  .user-photo-settings {
    max-width: 200px; /* Maximalbreite des Bildes */
    max-height: 200px; /* Maximale Höhe des Bildes */
    width: 100%; /* Das Bild wird die Breite des Containers einnehmen */
    height: auto; /* Das Bild passt die Höhe entsprechend der Breite an */
    border-radius: 50%;
    padding-top: 25px;
  }

  .profile-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Das Formular und seine Inhalte werden horizontal und vertikal zentriert */
    margin-top: 50px; /* Abstand nach oben hinzufügen */

  }
  
  /* Stil für das Formularfeld und den Button */
  .profile-form form {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form .form-group {
    margin-bottom: 15px;
  }
  
  .profile-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
  }

  h2{
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
  }

  .profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
  width: 90%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #eaeef1;
  border-radius: 4px;
  outline: none;
}

/* Hintergrundfarbe, wenn der Toggle aktiv ist */
.toggle.active {
  background-color: lightblue;
}

.profile-form button {
  width: 95%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(235 154 80);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-form button:hover {
  background-color: $orange-hover;
}

.settings form{
    align-items: center;
    width: 100%;
}

.signout{
        z-index: 5;
        margin: 20px auto 20px auto; /* Horizontal zentrieren */
        background-color: $gray;
        font-weight: bold;
        padding: 7px 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        border-radius: 15px;
        color: #ffffff;
        font-size: 18px;
        cursor: pointer;
        
        &:hover{
          background-color: rgb(108, 108, 108); 
        }
}

label {
  color: #ffffff;
}


  
  