.user__photo {
    width: 150px;

    &-label {
        cursor: pointer;
    }

    &-input {
        display: none;
    }

    &-img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        object-fit: cover;
    }

    &-message {
        color: green;
    }
}

@media(max-width:590px) {
    .user__photo {
        width: 100px;

        &-img {
            width: 100px;
            height: 100px;
        }
    }
}


@media(max-width:450px) {
    .user__photo {
        width: 80px;

        &-img {
            width: 80px;
            height: 80px;
        }
    }
}