.user__photo {
    width: 150px;

    &-label {
        cursor: pointer;
    }

    &-input {
        display: none;
    }

    &-img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        object-fit: cover;
    }

    &-message{
        color: green; 
    }
}