@import '../../../../../styles/variables.scss';

.accordion-item {
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.accordion-header {
  position: relative;
  width: 100%;
  padding: 20px 60px 20px 30px;
  background-color: $gray-hover;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $white; 
  cursor: pointer;
}

.accordion-collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.accordion-collapse.open {
  height: auto;
}

.accordion-body {
  padding: 20px 60px 20px 30px;
//  background-color: rgb(160, 159, 159);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 14px;
  color: $white;
  background: url('../../../../../ressources//img/bg.png') no-repeat center center;
  background-size: cover;
}

.accordion-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 20px;
  height: 13px;
  fill: $white;
  transform: translateY(-50%);
  transition: 0.25s;
}

.accordion-arrow.active {
  transform: translateY(-50%) rotate(180deg);
}

.accordion-arrow.orange {
  fill: $secondary-color; 
}