@import '../../../styles/variables.scss';

.user__password {
    &-form {
        display: flex;
        flex-direction: column;
    }

    &-input {
        margin-top: 10px;
        display: flex;
        align-items: center;

        label {
            margin-right: 7px;
            color: black;
            width: 125px;
        }

        input {
            width: 200px;
            background: $white;
            color: black;
            padding: 8px;
            border: 2px solid $main-color;
            border-radius: 10px;
        }
    }

    &-btn-update {
        width: 150px;
        margin-top: 20px;
        padding: 7px;
        background-color: rgb(153, 153, 153);
        color: $white;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: rgb(133, 133, 133);
        }
    }
}