@import '../../../styles/variables.scss';

.search{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    display: flex;
    align-items: center;

    & > :first-child{
        margin-right: 5px;
    }
}

.autocomplete {
    border: 1px $white;
    width: 240px;
    height: 32px;
    padding: 0 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px $main-color;
    font-size: 14px;
    outline: none;
    background-color: $white;
    color: $main-color; 
    font-size: 16px;

    &::placeholder{
        font-size: 16px;
        color: $gray;
    }
}

.clear-input-btn{
    font-size: 20px;
    color: $white;
    cursor: pointer;
}

@media(max-width:450px) {
    .search {
        display: none;
    }
}