@import '../../../../../styles/variables.scss';

.confirmation-modal {
    background-color: $main-color;
    color: $white;
    width: 300px;
    height: 80px;
    padding: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        outline: none;
        border-radius: 10px;
    }

    &__button.confirm {
        background-color: $secondary-color;
        color: $white;

        &:hover{
            background-color: $orange-hover;
        }
    }

    &__button.cancel {
        background-color: $gray;
        color: $white;

        &:hover{
            background-color: $gray-hover;
        }
    }

    .btn-close {
        position: absolute;
        top: 0px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: $white;
    }
    
    .btn-close:hover {
        color: $gray-hover;
    }
}