@import '../../../../styles/variables.scss'; 

.user__name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-title {
        font-size: 24px;
        margin-right: 10px;
        color: $main-color; 
    }

    &-input {
        width: 100%;
        padding: 7px;
        background-color: #eaeef1;
        border-radius: 5px;
        margin-right: 10px;
        background: $white;
        color: black;
        border: 2px solid $main-color;
    }

    &-img {
        cursor: pointer;
        width: 20px;
        height: 20px;

        &-accept {
            margin-right: 5px;
        }
    }
}