@import '../../../../styles/variables.scss';

.filter-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-item {
    border: 2px solid $gray;
    color: $gray;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color : rgb(240, 161, 71); 
        color : rgb(70, 69, 69); 
    }
}

.filter-active {
    background-color: $secondary-color;
    border: 2px solid $main-color;
    color: $main-color;
}