@import '../../../styles/variables.scss';

.map-form {
    background-color: $main-color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.new-training-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-form input,
.map-form textarea {
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 16px;
    background-color: $white;
}

.css-13cymwt-control, .css-t3ipsp-control {
    font-size: 16px;
    font-weight: 500;

    .css-qbdosj-Input input::after {
        font-size: 16px;
        font-weight: 500;
    }
}

.form-date,
.form-people,
.form-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 320px;
}

label {
    font-size: 16px;
    color: $white;
}

#trainingTime {
    width: 70%;
}

#activityType {
    width: 77%;
}

#maxPeople {
    width: 40px;
}

#description {
    height: 115px;
}

#activityType {
    margin-bottom: 10px;
}

#description {
    margin-bottom: 20px;
}

.addTrainingBtn {
    display: block;
    width: 320px;
    padding: 10px;
    background-color: $secondary-color;
    color: $white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addTrainingBtn:hover {
    background-color: $orange-hover;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    color: $white;
    cursor: pointer;
    z-index: 14;
}

.close-button:hover {
    color: $gray;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

@media(max-width:590px) {
    .map-form {
        width: 300px;
    }

    .form-activity {
        margin-bottom: 0;
    }

    .form-date,
    .form-people,
    .form-activity {
        width: 280px;
        flex-direction: column;

        &> :first-child {
            margin-bottom: 5px;
        }
    }

    .addTrainingBtn {
        width: 280px;
    }

    #description {
        width: 260px;
    }
}