@import '../../styles/variables.scss';
@import '../../styles/fonts.scss'; 

.locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}

.spinner-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.btn-add,
.btn-add-media {
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    color: black;
    border: none;
    z-index: 5;
    position: fixed;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
}

.btn-add {
    bottom: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add.btn-active,
.btn-add-media.btn-active {
    background-color: $secondary-color;
}

.map-cursor {
    width: 20%;
}

.btn-add-media {
    display: none;
}

@media(max-width:590px) {
    .btn-add {
        display: none;
    }

    .btn-add-media {
        display: block;
        bottom: 100px;
        left: 50%;
        font-size: 30px;
        width: 40px;
        border-radius: 100%;
        padding: 5px;
    }
}