.global-map {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.spinner-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.map-cursor {
    width: 20%;
}