@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.global-map {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.spinner-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.btn-add,
.btn-add-media {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-color: $secondary-color;
    border-width: 1;
    color: black;
    z-index: 10;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
    border: 2px solid $gray-hover;
}

.btn-add-media {
    background-color : transparent !important; 
    img {
        width: 60px;
        height: 60px;
    }
}

.btn-add {
    bottom: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add.btn-active {
    background-color: $secondary-color;
}

.map-cursor {
    width: 20%;
}

.btn-add-media {
    display: none;
}

@media(max-width:590px) {
    .btn-add {
        display: none;
    }

    .btn-add-media {
        display: block;
        bottom: 50px;
        left: 50%;
        border: none; 
    }
}