@import '../../styles/variables.scss';

.settings {
  padding: 30px 20px 0 17%;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  list-style-type: none;
  background-color: $main-color;
  border-radius: 10px;
  transition: all ease-in 0.7s;

  &-profile {
    display: flex;
    align-items: center;
  }

  &-title {
    color: $white;
    margin-bottom: 10px;
    font-size: 22px;
  }
}